*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body,#root{
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
.root{
  height: 100%;
  display: flex;
  flex-direction:column;
}
@media (min-width:750px) {
  .root{
    flex-direction: row;
  }
}
.leftnav{
  background-color: #31374a;
  width: 300px;
  flex-shrink: 0;
}
.leftnav h2{
  text-align: center;
  line-height: 2.6;
  font-size: 24px;
  color:#fff;
  border-bottom: 3px solid #fff;
}
.leftnav a{
  display: block;
  text-decoration: none;
  font-size: 20px;
  line-height: 2.5;
  padding-left: 20px;
  color: #fff;
}
.leftnav i{
  margin-right: 20px;
}
.leftnav a:hover{
  background-color: #c0c0c0
}
.leftnav .myphoto{
  width: 200px;
  height: 200px;
  background-image: url(./images/me2.jpg);
  background-size: cover;
  margin: 25px auto;
  border-radius: 50%;
}
header{
  display: flex;
  flex-shrink: 0;
  align-items: center;
  /*让子元素在副轴上垂直居中*/
  background-color: #c4caeb;
  justify-content: space-between;
  padding: 0 15px;
}
header .picture{
  width: 100px;
  height: 100px;
  background-image: url(./images/me2.jpg);
  background-size: cover;
  border-radius: 50%;
  margin: 10px 0;
}
.mywrap{
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  background-image: url(./images/blog.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}
.home{
  width: 100%;
}
.home-cover{
  background-color: rgba(255,255,255,0.3);
  display: flex;
  /*flex-direction: column;*/
  /*让主轴竖过来，flex-direction是改变主轴的方向*/
  /*align-items: center;*/
  /*在副轴上居中*/
  /*text-align: center;*/
  /*justify-content: center;*/
  /*在主轴上的对其方式*/
}
.home-cover ul{
  width: 100%;
}
.home-cover ul li{
  padding-top: 20px;
  padding-left: 10px;
}
.personal dt{
  font-size: 25px;
  color:  #1f1e21;
  line-height: 30px;
  border-bottom: 3px solid #424858;
}
.personal dd span{
  font-size:14px;
  margin-left: 0;
  color:white;
  font-weight: bolder;
}
.personal dd i{
  margin-right: 10px;
}
.personal dd{
  color:#ccc;
  font-size: 14px;
  line-height: 2.0;
  padding-left: 10px;
}
.personal dd:nth-child(2){
  padding-top: 10px;
}
.blogcard{
  width: 96%;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #efeced;
}
.blogindex{
  background-color: #333d5d;;
  text-align: center;
  color:white;
  font-size: 20px;
  line-height: 42px;
  padding: 3px 0;
}
.blogindex .circle{
  width: 45px;
  border:1px solid white;
  border-radius: 50%;
  margin: 0 auto;
  color:#fff;
}
.blogdesc{
  padding: 13px;
  box-shadow: 1px 2px 9px 1px #9ea8dd;
  color:#777;
  position: relative;
}
.blogdesc h3{
  text-align: center;
  color: #31374a;
}
.blogdesc a{
  padding: 5px 6px;
  background-color: #454c63;
  text-decoration: none;
  color:white;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
}
.blogdesc a:nth-child(3){
  float: left;
}
.blogdesc a:nth-child(3){
  float: right;
}
.blogdesc a:hover{
  box-shadow: 1px 3px 7px #7986d0;
}
.blogdesc img{
  width: 100%;
  margin: 10px 0;
  border-radius: 5px
}
figcaption {
  margin-top: 20px;
  font-size: 14px;
}
footer{
  display: flex;;
  height: 80px;
  flex-shrink: 0;
  align-items: center;
  /*垂直居中*/
  justify-content: space-around;
  text-align: center;
  background-color: #c4caeb;
  color:#241915;
}
footer a{
  border-right: 1px solid #241915;
  flex-grow: 1;
  text-decoration: none;
  color:black;
}
footer a:last-child{
  border-right: none;
}
